<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Artist Page</h1>

    <form action="/artists" method="post">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="artist[name]">Enter an Artist: </label>
      <input type="text" name="artist[name]" id="artist_name">

      <p><label for="artist[song_ids]">Select Songs: </label></p>
      <% Song.all.each do |song| %>
        <p><input type="checkbox" name="artist[song_ids][]" id="<%= song.id %>" value="<%= song.id %>"><%= song.title %></p>
      <% end %>

      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
